$clr-white: #ffffff;

$clr-theme-drk: #3e4149;
$clr-theme-lit: #444f59;
$clr-theme-ac1: #ff5f2e;
$clr-theme-ac2: #fcbe32;
$clr-theme-txt: #ffffff;

$clr-text: $clr-theme-txt;
$clr-text-alt: $clr-theme-ac1;

$header-clr: $clr-theme-drk;
$content-clr: $clr-theme-lit;
