$header-height: 60px;

#app, .app {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .app-top {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: $header-height;
        background-color: $header-clr;
        overflow: hidden;
    }

    .app-content {
      position: absolute;
      left: 0;
      right: 0;
      top: $header-height;
      bottom: 0;
      background-color: $content-clr;
      overflow: auto;
      //border-top: 2px solid $clr-theme-lit;
      padding: 10px 20px;
    }
}
