@import '~font-awesome/scss/font-awesome';
@import '~leaflet/dist/leaflet';

@import 'colors';
@import 'layout';
@import 'maps';

@import './components/mainheader';

//globals
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $clr-text;
}

.text-centered {
    text-align: center;
}
